{
    on_demand_tls {
        ask https://ezyraise.ap.ngrok.io
        
        burst 5
        interval 2m
    }
}

localhost:80

https:// {
    tls {
        on_demand
    }

    reverse_proxy https://tictactoeonrails.tamsui.xyz {
        header_down Strict-Transport-Security max-age=31536000
        header_up Host {host}
        header_up X-Forwarded-Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}